body{
    position: relative;
    
}

.title {
    font-family: "游ゴシック Light";
    border-bottom-width: 3px;
    border-bottom: double 5px #FFA500;
    font-weight: bold;
    font-size: 50px;
    position: fixed;
    width:100%;
    margin-top: 0;
    z-index: 2;
    background-color: white;
}

.header {
    font-family: "游ゴシック Light";
    border-bottom-width: 3px;
    border-bottom: double 5px #FFA500;
    font-weight: bold;
    font-size: 50px;
    margin-top: -80px;
}


.fontsize {
    font-size: 25px;
}

.gothic{
    font-family: "游ゴシック Light";
    font-weight: bold;
}

.inside{
    font-size: 20px;
}

#a {
    text-align: center;
    font-family: "游ゴシック Light";
    font-weight: bold;
    z-index: 1;
    padding-top: 90px;
    
}

.titlelinks{
    float: right;
    margin-top: -70px;
    margin-right: 180px;
}


.row {
    margin: 0;
}


.pics img {
    max-width: 100%;
    height: 400px;
    width: 350px;
    
    
}
